# {{ ansible_managed }}

version: '3.7'

services:
  bukuserver:
    image: bukuserver/bukuserver
    restart: always
    security_opt:
      - no-new-privileges:true
    environment:
      - BUKUSERVER_PER_PAGE=100
      - BUKUSERVER_OPEN_IN_NEW_TAB=true
      # - BUKUSERVER_SECRET_KEY=123456789012345678901234
      # - BUKUSERVER_URL_RENDER_MODE=full
      # - BUKUSERVER_DISABLE_FAVICON=false
    volumes:
      - "{{ buku__path}}/data:/root/.local/share/buku"
    networks:
      - caddy-net

networks:
  caddy-net:
    external: true
