# {{ ansible_managed }}

{
    email {{ caddy__email }}
}

{% for service in caddy__services %}
{{ service.domain }} {
{% if service.auth_user is defined and service.auth_secret is defined %}
    basicauth {
        {{ service.auth_user }} {{ service.auth_secret }}
    }
{% endif %}

    log {
        output file /var/log/{{ service.domain }}.log
    }

    encode gzip

{% if service.type == "file_server" %}
    root * /srv
    file_server browse
{% elif service.type == "reverse_proxy" %}
    reverse_proxy {{ service.proxy_name }}:{{ service.proxy_port }}
{% endif %}
}

{% if service.www_redirect is defined and service.www_redirect %}
www.{{ service.domain }} {
    redir https://{{ service.domain }}{uri} permanent
}
{% endif %}
{% endfor %}
