# {{ ansible_managed }}

version: "3.7"

services:
  caddy:
    container_name: caddy
    image: caddy
    restart: always
    security_opt:
      - no-new-privileges:true
    ports:
      - 80:80
      - 443:443
    volumes:
      - {{ caddy__path }}/data:/data
      - {{ caddy__path }}/log:/var/log
      - {{ caddy__path }}/Caddyfile:/etc/caddy/Caddyfile:ro
      - {{ caddy__srv_path }}:/srv

networks:
  default:
    name: caddy-net
