# {{ ansible_managed }}

version: '3.7'

services:
  seafile-server:
    image: ggogel/seafile-server
    container_name: seafile-server
    hostname: seafile-server
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - seafile-data:/shared
    environment:
      - DB_HOST=seafile-db
      - DB_ROOT_PASSWD={{ seafile__database_password }}
      - TIME_ZONE={{ seafile__timezone }}
      - HTTPS=yes
      - SEAFILE_SERVER_HOSTNAME={{ seafile__domain }}
      - GC_CRON={{ seafile__garbage_collect_cron }}
    depends_on:
      - seafile-db
      - seafile-memcached
      - seafile-caddy
    networks:
      - seafile-net

  seahub:
    image: ggogel/seahub
    container_name: seahub
    hostname: seahub
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - seafile-data:/shared
      - seahub-avatars:/shared/seafile/seahub-data/avatars
      - seahub-custom:/shared/seafile/seahub-data/custom
    environment:
      - SEAFILE_ADMIN_EMAIL={{ seafile__admin_email }}
      - SEAFILE_ADMIN_PASSWORD={{ seafile__admin_password }}
    depends_on:
      - seafile-server
      - seafile-caddy
    networks:
      - seafile-net

  seahub-media:
    image: ggogel/seahub-media
    container_name: seahub-media
    hostname: seahub-media
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
     - seahub-avatars:/usr/share/caddy/media/avatars
     - seahub-custom:/usr/share/caddy/media/custom
    depends_on:
      - seafile-server
      - seafile-db
      - seafile-memcached
      - seafile-caddy
    networks:
      - seafile-net

  seafile-db:
    image: mariadb:10
    container_name: seafile-db
    hostname: seafile-db
    restart: always
    security_opt:
      - no-new-privileges:true
    environment:
      - MYSQL_ROOT_PASSWORD={{ seafile__database_password }}
      - MYSQL_LOG_CONSOLE=true
    volumes:
      - seafile-mariadb:/var/lib/mysql
    networks:
      - seafile-net

  seafile-memcached:
    image: memcached
    container_name: seafile-memcached
    hostname: seafile-memcached
    restart: always
    security_opt:
      - no-new-privileges:true
    entrypoint: memcached -m {{ seafile__memcache }}
    networks:
      - seafile-net

  seafile-caddy:
    image: ggogel/seafile-caddy
    container_name: seafile-caddy
    hostname: seafile-caddy
    restart: always
    security_opt:
      - no-new-privileges:true
    networks:
      - seafile-net
      - caddy-net

networks:
  seafile-net:
    internal: true
  caddy-net:
    external: true

volumes:
  seafile-data:
  seafile-mariadb:
  seahub-avatars:
  seahub-custom:
