# {{ ansible_managed }}

services:
  mealie:
    image: {{ mealie__image }}
    container_name: mealie
    security_opt:
      - no-new-privileges:true
    restart: always
    deploy:
      resources:
        limits:
          memory: 2000M
    environment:
      - ALLOW_SIGNUP={{ mealie__allow_signup }}
      - BASE_URL={{ mealie__base_url }}
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - MAX_WORKERS={{ mealie__max_workers }}
      - WEB_CONCURRENCY=1

      - SMTP_HOST={{ mealie__smtp_host }}
      - SMTP_PORT={{ mealie__smtp_port }}
      - SMTP_FROM_EMAIL={{ mealie__from_email }}
      - SMTP_USER={{ mealie__email_user }}
      - SMTP_PASSWORD={{ mealie__email_password }}
    volumes:
      - mealie-data:/app/data/
    networks:
      - caddy-net

volumes:
  mealie-data:
    driver: local

networks:
  caddy-net:
    external: true
