# {{ ansible_managed }}

version: "3.7"

services:
  mealie-frontend:
    image: hkotel/mealie:frontend-{{ mealie__version }}
    container_name: mealie-frontend
    depends_on:
      - mealie-api
    security_opt:
      - no-new-privileges:true
    restart: always
    environment:
      - API_URL=http://mealie-api:9000
    volumes:
      - mealie-data:/app/data/
    networks:
      - caddy-net
      - mealie-net

  mealie-api:
    image: hkotel/mealie:api-{{ mealie__version }}
    container_name: mealie-api
    depends_on:
      - postgres
    security_opt:
      - no-new-privileges:true
    restart: always
    volumes:
      - mealie-data:/app/data/
    environment:
      - ALLOW_SIGNUP=true
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - MAX_WORKERS=1
      - WEB_CONCURRENCY=1
      - BASE_URL={{ mealie__base_url }}

      - SMTP_HOST={{ mealie__smtp_host }}
      - SMTP_PORT={{ mealie__smtp_port }}
      - SMTP_FROM_EMAIL={{ mealie__from_email }}
      - SMTP_USER={{ mealie__email_user }}
      - SMTP_PASSWORD={{ mealie__email_password }}

      - DB_ENGINE=postgres
      - POSTGRES_USER=mealie
      - POSTGRES_PASSWORD=mealie
      - POSTGRES_SERVER=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=mealie
    networks:
      - mealie-net

  postgres:
    container_name: mealie-postgres
    image: postgres
    security_opt:
      - no-new-privileges:true
    restart: always
    environment:
      POSTGRES_PASSWORD: mealie
      POSTGRES_USER: mealie
    networks:
      - mealie-net

volumes:
  mealie-data:
    driver: local

networks:
  caddy-net:
    external: true
  mealie-net:
    internal: true
